workflow/whatsapp_ai_agent.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 WhatsApp AI Agent\n**Author:** Yousef ElSherbiny\n**Services:** [yousefautomates.pages.dev](https://yousefautomates.pages.dev/)\n**Tutorial:** [Watch on YouTube](https://youtu.be/4bQXpGNTSF4)\n\n**Flow:**\nWhatsApp → Security Check → Route by Type\n→ (Text / Voice / Image) → AI Agent → Reply",
        "height": 204,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "bd2bd74d-0e9f-44d2-890e-294d09eea0b8",
      "name": "📌 Project Info"
    },
    {
      "parameters": {
        "content": "## 🔒 Security Layer\nAllows only whitelisted phone numbers.\nSet your number in n8n **Variables**:\n`phone = 20xxxxxxxxxx`",
        "height": 140,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        240
      ],
      "id": "2aee6a0a-48f5-482b-a277-93250808f6b0",
      "name": "🔒 Security Note"
    },
    {
      "parameters": {
        "content": "## 🔀 Message Router\n**3 branches:**\n- `text` → direct to Agent\n- `voice` → Whisper → Agent\n- `image` → Vision → Agent",
        "height": 156,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        224
      ],
      "id": "77ac40cd-d315-4a18-a17f-c06ff79d5095",
      "name": "🔀 Routing Note"
    },
    {
      "parameters": {
        "content": "## 🎤 Voice Branch\n`Download → HTTP Get → Groq Whisper`\nConverts voice note to text.\nGroq is faster & cheaper than OpenAI.",
        "height": 268,
        "width": 808,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        384
      ],
      "id": "9e0a3846-bd58-4b22-b259-a15f1bb03933",
      "name": "🎤 Voice Note"
    },
    {
      "parameters": {
        "content": "## 🖼️ Image Branch\n`Download → HTTP Get → Vision Model`\nAnalyzes image & returns description.\nModel: GPT-4o-mini (cost-effective).",
        "height": 284,
        "width": 808,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        672
      ],
      "id": "fd66b993-2135-4ad5-902c-e708ddd4cbe6",
      "name": "🖼️ Image Note"
    },
    {
      "parameters": {
        "content": "## 🧠 AI Agent\n**Tools available:**\n- 🔍 SerpAPI (Google Search)\n- 📧 Gmail (Send Emails)\n- 📊 Google Sheets (Contacts)\n\n**Memory:** per WhatsApp number\n**Model:** GPT-5-mini",
        "height": 200,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        160
      ],
      "id": "bbffa67b-866f-45b9-926f-fc2622a8fe91",
      "name": "🧠 Agent Note"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        768,
        400
      ],
      "id": "5d759622-9e3d-4230-9842-160bd02e4a53",
      "name": "WhatsApp Trigger",
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "security-check-001",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "={{ $vars.phone }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        400
      ],
      "id": "7f1e7c66-590a-46b6-b406-d37c9aa01877",
      "name": "🔒 Security Check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        624
      ],
      "id": "84a33abe-fd49-4590-ae9a-d5fe4bdd4b0e",
      "name": "⛔ Unauthorized"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "route-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-voice",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-image",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1216,
        400
      ],
      "id": "77a39c3c-48b1-4240-bfb4-a24d44bbf199",
      "name": "🔀 Message Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-text-msg",
              "name": "message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        144
      ],
      "id": "600a87a4-e643-4066-abea-24d272386deb",
      "name": "📝 Set Text Message"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1456,
        496
      ],
      "id": "94ead605-5d85-4977-bcf4-34e31658f376",
      "name": "🎤 Get Audio URL",
      "webhookId": "ecccb482-f193-4de8-8131-be0b0ba16c98"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        496
      ],
      "id": "b5b2265a-de2c-46bc-b75c-427579e60680",
      "name": "⬇️ Download Audio",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        496
      ],
      "id": "c42c86aa-b560-4755-8c79-43c8f3ab1bfa",
      "name": "🎙️ Groq Whisper STT",
      "credentials": {
        "httpBearerAuth": {
          "id": "TZmKhMXMQH7T1c6l",
          "name": "WA bearear"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-voice-msg",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        496
      ],
      "id": "af470748-1419-4a0c-9e68-49040e5b58cd",
      "name": "📝 Set Voice→Text"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1456,
        784
      ],
      "id": "daa7eec0-9def-4879-929c-a61646c38476",
      "name": "🖼️ Get Image URL",
      "webhookId": "75d9d093-e731-49bb-9295-5ddbf327f4f3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        784
      ],
      "id": "a7031895-5010-4b8a-be7b-f9ec7b3789fc",
      "name": "⬇️ Download Image",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Describe this image in detail. Reply in Arabic.\n\nUser question: {{ $('WhatsApp Trigger').item.json.messages[0].image.caption || 'No question provided.' }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1888,
        784
      ],
      "id": "d7833498-517c-47a9-bdfc-64ceac89352f",
      "name": "👁️ Analyze Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-image-msg",
              "name": "message",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        784
      ],
      "id": "493068d8-d39d-4781-97cc-c13b88b427e6",
      "name": "📝 Set Image Description"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a fast-acting WhatsApp AI Assistant.\nRespond in the same language the user writes in.\n\n## CORE RULE — ACT IMMEDIATELY\nNever ask permission. Execute tasks right away.\n- Search request → use SerpAPI immediately\n- Send email → check Google Sheets first, then Gmail\n- Image question → answer from the description provided\n\n## TOOLS\n1. SerpAPI: real-time Google Search (prices, news, specs)\n2. Google Sheets: look up contact emails by name\n3. Gmail: send emails after finding contact in Sheets\n\n## RULES\n- Same language as user (Arabic → Arabic, English → English)\n- Never fabricate email addresses\n- Never ask 'هل تريد؟' — just do it\n- Multi-step tasks: complete all steps automatically\n\n## SERVICES\nProfessional automation services by Yousef ElSherbiny\nhttps://yousefautomates.pages.dev/\n\n_If image was sent, user question:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2432,
        400
      ],
      "id": "d42c5cc9-9507-4681-afd3-45acb4e1d03b",
      "name": "🧠 AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2352,
        624
      ],
      "id": "d3c1422d-0fb7-4c20-a040-e32874217328",
      "name": "🤖 LLM (GPT-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "YShXMKvUwjkLxa25",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2512,
        624
      ],
      "id": "a0ae6714-2e07-495f-8e33-e31d09b7b7d4",
      "name": "🧠 Conversation Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2800,
        704
      ],
      "id": "d9752eb8-0fab-47a5-aad0-3ce3d9220b89",
      "name": "🔍 SerpAPI Search",
      "credentials": {
        "serpApi": {
          "id": "7Hhz3W7MrDnam6VW",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up a contact's email address by their name before sending any email.",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contacts",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2688,
        800
      ],
      "id": "b8ed6bf5-e60d-47e6-ab35-75ad45da05d7",
      "name": "📊 Google Sheets Lookup"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', 'recipient email address', 'string') }}",
        "subject": "={{ $fromAI('Subject', 'email subject line', 'string') }}",
        "message": "={{ $fromAI('Message', 'email body content', 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2624,
        944
      ],
      "id": "4d04df6c-d81c-42f8-9499-f2b804140367",
      "name": "📧 Gmail Send",
      "webhookId": "d3f48e08-90d2-45b3-bbe2-a72a4a225773"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2704,
        400
      ],
      "id": "09939202-9ee9-421a-bc7e-c686b7f086d4",
      "name": "📤 Send WhatsApp Reply",
      "webhookId": "5e0cb616-88e8-45ea-ac57-ae1ad89bd962"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "🔒 Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Security Check": {
      "main": [
        [
          {
            "node": "🔀 Message Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⛔ Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Message Router": {
      "main": [
        [
          {
            "node": "📝 Set Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎤 Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🖼️ Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Set Text Message": {
      "main": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 Get Audio URL": {
      "main": [
        [
          {
            "node": "⬇️ Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download Audio": {
      "main": [
        [
          {
            "node": "🎙️ Groq Whisper STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎙️ Groq Whisper STT": {
      "main": [
        [
          {
            "node": "📝 Set Voice→Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Set Voice→Text": {
      "main": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Get Image URL": {
      "main": [
        [
          {
            "node": "⬇️ Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download Image": {
      "main": [
        [
          {
            "node": "👁️ Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👁️ Analyze Image": {
      "main": [
        [
          {
            "node": "📝 Set Image Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Set Image Description": {
      "main": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Agent": {
      "main": [
        [
          {
            "node": "📤 Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 LLM (GPT-4o-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🔍 SerpAPI Search": {
      "ai_tool": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets Lookup": {
      "ai_tool": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail Send": {
      "ai_tool": [
        [
          {
            "node": "🧠 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c373301d3a3102ac8fe7a1e37334930d215639ab03d320e702696229ca1d342f"
  }
}
